.modal-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.modal {
    background: white;
    border-radius: 8px;
    padding: 32px;
    width: 90%;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    label {
        font-weight: 600;
    }

    input {
        padding: 8px;
        border: 1px solid #d1d9e0;
        border-radius: 4px;
        font: inherit;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;

        span {
            color: #71797e;
        }
    }
}
