.navbar {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #d1d9e0b3;
    flex-wrap: wrap;
    background-color: white;
    z-index: 100;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    width: 100%;
}

a {
    text-decoration: none;
    padding: 16px;

    &:visited {
        color: black;
    }

    &:hover {
        background-color: #ebebeb;
    }
}

button {
    border: none;
    background: none;
    font: inherit;

    &.login,
    &.logout {
        padding: 16px;
        width: 100%;
    }
}

.hamburger {
    display: block;
}

.nav-backdrop {
    position: fixed;
    inset: 0;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;

    &.open {
        display: flex;
        background-color: white;
        z-index: 99;
        border-left: 1px solid #d1d9e0b3;
        position: absolute;
        top: 53px;
        right: 0;
        a {
            width: 100%;
            box-sizing: border-box;
        }
    }
    text-align: center;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
    }

    .navbar-top,
    .nav-links {
        width: auto;
    }

    .nav-links {
        padding-right: 16px;
    }

    .hamburger {
        display: none;
    }

    .nav-backdrop {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 16px;

        &.open {
            position: static;
            border: none;
            background-color: transparent;
            z-index: auto;
        }
    }

    a {
        width: auto;
        white-space: nowrap;
    }
}
