@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}

#root {
    width: 100%;
}

p,
h1,
ul,
h2,
h3 {
    margin: 0;
}

ul {
    padding: 0;
}

.btn-primary {
    background-color: #222;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 14px 24px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    &:hover {
        background-color: #444;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}
